.titleP{
    color: #343578;
    text-align: center;
    background-color: #F0F0F5	;
}
.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: scroll-left 15s linear infinite;
  font-weight: bold;
  font-size: 1.5rem;
  color: #343578;
  margin-bottom: 1rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.titleP {
  text-align: center;
  font-size: 2.5rem;
  color: #343578;
  margin-top: 0;
  font-weight: 700;
}
